# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.pytest_cache/

# Data / outputs
data/
results/
outputs/
samples/
*.ckpt
*.pth
*.pt

# Misc
.DS_Store
.release-stamp

build/
*.png

settings.json
!Lab2-DDIM-LoRA/assets/images/*.png
*.zip
Lab2-DDIM-LoRA/task1/image_diffusion_todo/data